.ProductInfo {
  display: flex;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 10px grey;
  margin-left: 2rem;
  margin-right: 2rem;
}

.ProductInfo .ProductImage {
  width: 50%;
  height: 100vh;
}
.ProductInfo .Info {
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
}

.Product {
  margin-top: 3rem;
}

.SimilarProducts h2 {
  margin-left: 2rem;
}

.Product .Video .youtube{
  text-align: center;
  margin-bottom: 2rem;
}
.Product .Video h3{
  margin-left: 4rem;
  margin-bottom: 2rem;
  padding-top:.5rem;
}
.Product .Video h4{
  margin-left: 4rem;
}