.BuyNowButton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #6cd4d6;
  margin-top: 2rem;
  width: 18rem;
  margin-bottom: 1rem;
}
.BuyNowButton:hover{
  background-color:  #40a7a8;
}

.Productinfo {
  padding-left: 2rem;
  padding-top: 1rem;
  background-color: white;
}

.Productinfo .header {
  padding-bottom: 1rem;
}

.Productinfo .header h3 {
  color: rgb(148, 147, 147);
  padding-top: .8rem;
  padding-bottom: 1rem;
}

.Productinfo .ZefoAssessment {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Productinfo .ZefoAssessment p{
  padding-top: 4px;
  font-size: 15px;
}

.Productinfo .ZefoExperienceZone {
  height: 350px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.Productinfo .ZefoExperienceZone h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-left: 10rem;
}

.Productinfo .ZefoExperienceZone p {
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-left: 10rem;
}
.Productinfo .ZefoExperienceZone .select {
  display: block;
  margin-bottom: 2rem;
  margin-left: 10rem;
  height: 2rem;
  width: 25rem;
}

.Productinfo .ZefoExperienceZone .name {
  margin-left: 10rem;
  margin-right: 1rem;
  height: 2rem;
  width: 10rem;
}

.Productinfo .ZefoExperienceZone .phone {
  margin-right: 2rem;
  height: 2rem;
  width: 10rem;
}

.schedule {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #5ac6c7;
  margin-top: 2rem;
  width: 15rem;
  margin-bottom: 1rem;
  margin-left: 20rem;
}

.Productinfo .emi{
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.Productinfo .emi img{
  width: 20px;
  margin-right: 1rem;
}

.Payment{
  display: flex;
  margin-bottom: .5rem;
  margin-top: .5rem;
  align-items: center;
}

.Payment img{
  width: 40px;
}

.Productinfo .ProductDetailSection{
  margin-top: 1rem;
}

.Productinfo .ProductDetailSection p{
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 13px;
}

hr{
  color: rgb(238, 232, 232);
}