.Details {
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  padding: 1rem;
}

.Details hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Details .question h2 {
  margin-bottom: 1rem;
}

.Details .question h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Detail Section Styling */
.DetailsDiv{
  margin-top: 2rem;
  margin-bottom: 8rem;
  height: 15rem;
}

.DetailsDiv .mainSection{
  margin-top: 3rem;
}

.DetailsDiv button{
  font-size: 1rem;
  width: 9rem;
  height: 2.5rem;
}

.DetailsSection{
  display: flex;
}

.DetailsSection .DimensionImage img{
  width: 350px;
}

.DetailsSection .info p{
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: 4rem;
}
.DetailsSection .info h4{
  padding-bottom: .5rem;
  margin-left: 4rem;
}

.WhiteBackground{
  background-color: white;
  color:#5ac6c7;
  border-bottom: 2px;
}

/* Softness in Details */
.Softness{
  display: flex;
}

.Softness img{
  margin-left: 4rem;
}

.Softness p{
  margin-left: 1rem !important;
}